<div class="container">
  <div class="offset-md-3 col-md-6 col-sm-12">
<h1 class="display-4">Create Survey</h1>

<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">

  <h5>Survey Title</h5>
  <input type="text" class="form-control" name="surveyTitle"  
  [(ngModel)]="survey.survey_name" #surveyName="ngModel"  placeholder="Enter your Survey Title" required>
 <div *ngIf="surveyName.errors?.['required'] && f.submitted">Survey Title is required </div>

 <div *ngFor="let i of counter(Questions)">
  <h5>Question Title</h5>
  <input type="text" class="form-control" name="questionTitle"  
  [(ngModel)]="question.question" #questionName="ngModel"  placeholder="Enter your Question Title" required>
  <div *ngIf="questionName.errors?.['required'] && f.submitted">Question Title is required </div>

  <h5>Answers</h5>
  <select class="form-select" #questionTypeSelector aria-label="Default select example" placeholder="Please Select your Question Type" [(ngModel)]="question.question_type">
    <option value="TrueAndFalse">T/F</option>
    <option value="Multiple_Choice">Multiple Choice</option>
  </select>
  
  <div *ngIf="questionTypeSelector.value == 'TrueAndFalse' then TrueOrFalse">

  </div>

  <div *ngIf="questionTypeSelector.value == 'Multiple_Choice' then MultipleChoice">

  </div>

</div>

<button type="button" class="btn btn-primary btn-sm" (click)="addNewQuestions()">Add New Question</button>

<ng-template #TrueOrFalse>
  <div *ngFor="let i of counter(2)">
<input type="text" class="form-control" name="answer"  
  [(ngModel)]="question.question" #questionName="ngModel"  placeholder="Enter your Answer" required>
  <div *ngIf="questionName.errors?.['required'] && f.submitted">Question Title is required </div>
  </div>
</ng-template>

<ng-template #MultipleChoice>
  <div *ngFor="let i of counter(4)">
<input type="text" class="form-control" name="answer"  
  [(ngModel)]="question.question" #questionName="ngModel"  placeholder="Enter your Answer" required>
  <div *ngIf="questionName.errors?.['required'] && f.submitted">Question Title is required </div>
  </div>
</ng-template>

<div class="text-end mt-2">
  <button id="submitButton" type="submit" class="btn btn-primary btn-lg">
    <i class="fas fa-user-plus"></i> Submit</button>
  <button id="cancelButton" type="reset" class="btn btn-warning btn-lg">
    <i class="fas fa-undo"></i> Cancel</button>
</div>

</form>
</div>
</div>
